.container {
  margin: 40px auto;
}

.flexContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.header {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 500;
  color: var(--text);
}

.label {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
}

.label input,
.label textarea,
.label select {
  padding: 10px;
  margin-top: 8px;
  border: 2px solid var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--text-muted);
  resize: none;
}

.label textarea:focus,
.label select:focus {
  outline: none;
}

.dropZone {
  margin: 10px 0;
  border-radius: 12px;
  border: 2px dashed var(--border);
  background-color: #fafafb;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.2s ease-in-out;
}

.dragActive {
  border-color: #3A7EF6;
  background-color: #EDF9FE;
}

.hiddenInput {
  display: none;
}

.sectionLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.uploadIcon {
  width: 32px;
}

.browseButton {
  background-color: #292929;
  color: #fff;
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 14px;
  transition: .2s ease-in-out all;
}

.browseButton:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.previewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 12px;
  margin-top: 15px;
}

.previewContainer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border);
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.removeBadge {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(0,0,0,0.6);
  padding: 5px;
  display: flex;
  border-radius: 50%;
  transition: .2s ease all;
}

.removeBadge img {
  width: 15px;
  height: 15px;
}

.removeBadge:hover {
  background: rgba(255, 0, 0, 0.8);
}

.actionsContainer {
  display: flex;
  justify-content: end;
}

.submitButton {
  background-color: var(--primary);
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  transition: 0.2s ease all;
}

.submitButton:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
