@import url("./base/reset.css");
@import url("./base/tokens.css");

/* Site font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
  color: var(--text-muted);
  background-color: var(--bg-dark);
}

#root {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-muted);
}

a {
  color: inherit;
}
